$primary-color: #1db6b6;

.container {
  max-width: 800px;
  margin: 2rem auto;
}

.nav-title {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-icon {
  width: 35px;
  height: 35px;
  margin-right: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0;
}

.cart-count {
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  bottom: 12px;
  right: 2.7rem;
}

.nav-title a {
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: $primary-color;
  font-weight: bold;
  margin-left: 1rem;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;

  .details {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menu-details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .image-container {
    img {
      height: 130px;
      width: 130px;
      border-radius: 4px;
    }
  }

  .quantity,
  .price {
    width: 23%;
  }
}

.line {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 0.2px;
  width: 100%;
  background-color: #1db6b644;
}

.total {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    font-size: 1.8rem;
    padding-left: 1rem;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.order {
  cursor: pointer;
  border: 1px solid $primary-color;
  outline: 0;
  padding: 0.95rem 1.2rem;
  background-color: $primary-color;
  color: white;
  border-radius: 2rem;
  font-size: 1.1rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: white;
    color: $primary-color;
    transform: scale(1.1);
  }
}
