$primary-color: #1db6b6;

.container {
  max-width: 800px;
  margin: 2rem auto;
}

.nav-title {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-icon {
  width: 35px;
  height: 35px;
  margin-right: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0;
}

.cart-count {
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  bottom: 12px;
  right: 2.7rem;
}

.nav-title a {
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: $primary-color;
  font-weight: bold;
  margin-left: 1rem;
}

.menu {
  width: 100%;
  padding-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu img {
  height: 130px;
  width: 130px;
  border-radius: 0.6rem;
}

.menu .menu-details {
  width: 50%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  position: relative;
  .menu-rating {
    display: flex;
    i {
      color: #1db6b6;
    }
    p {
      padding-left: 0.4rem;
    }
  }
}

.menu .menu-details .menu-rating p:last-child {
  color: grey;
}

.menu .menu-details .price {
  padding-top: 0.6rem;
  font-weight: bold;
}

.menu .menu-details .add {
  position: absolute;
  right: 0;
  top: 0.4rem;
  cursor: pointer;
  border: 1px solid #1db6b6;
  outline: 0;
  background-color: #fff;
  color: #1db6b6;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.menu .menu-details .add:hover {
  background-color: #1db6b6;
  color: #fff;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.line {
  height: 1px;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  width: 100%;
  background-color: #1db6b65e;
}

.cart-header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1db6b65e;
  padding-bottom: 0.5rem;

  P {
    text-transform: capitalize;
    font-weight: bold;
    color: $primary-color;
    width: 12%;

    &:first-child {
      width: 50%;
      text-align: center;
    }
  }
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.total {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #1db6b6;
}

.total .total-price {
  color: #333;
  padding-left: 1rem;
  font-size: 1.8rem;
}
