$primary-color: #1db6b6;

.container {
  max-width: 800px;
  margin: 0 auto;
}

.nav-title {
  position: sticky;
}

.nav-title a {
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: $primary-color;
  font-weight: bold;
  margin-left: 1rem;
}

.hotel img {
  width: 100%;
  height: 450px;
  border-radius: 1rem;
}

.hotel-details {
  padding-top: 1rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    h2 {
      font-weight: bold;
      color: $primary-color;
    }

    p {
      padding-top: 0.5rem;
      color: grey;
    }
  }

  .ratings {
    display: flex;
    align-items: center;
    padding-right: 0.5rem;

    i {
      color: $primary-color;
      font-size: 1.1rem;
    }
    p {
      padding-left: 0.4rem;
    }

    .rating {
      font-weight: bold;
      font-size: 1.1rem;
    }

    .count {
      color: grey;
    }
  }
}

.location {
  padding-top: 1rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
  color: #444;
}

.timing {
  padding-top: 1.3rem;
  display: flex;
  align-items: center;

  p:nth-child(1) {
    background-color: $primary-color;
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 2rem;
  }

  p:nth-child(2) {
    padding-left: 0.5rem;
    font-weight: bold;
  }
}

.active {
  color: $primary-color;
}

.tabs {
  padding-top: 2rem;
  padding-left: 0.5rem;
  display: flex;

  h3 {
    cursor: pointer;
  }

  h3:last-child {
    padding-left: 2rem;
  }
}

.line {
  height: 1px;
  margin-left: 0.5rem;
  margin-top: 0.4rem;
  background-color: #1db6b633;
  width: 100%;
}

.hotel-cusions {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;

  .title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #444;
  }

  .tag {
    display: inline-block;
    margin-top: 1rem;
    background-color: #fff;
    border: 1px solid rgba(68, 68, 68, 0.2);
    color: $primary-color;
    padding: 0.4rem 0.8rem;
    border-radius: 2rem;

    &:not(:nth-child(2)) {
      margin-left: 0.5rem;
    }
  }
}

.avg-cost,
.address,
.phone-number {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  .title {
    font-size: 1.1rem;
    font-weight: bold;
    color: #444;
  }

  p {
    padding-top: 0.7rem;
    font-weight: bold;
    color: grey;
  }
}
