.container {
  max-width: 800px;
  margin: 0 auto;
}

.nav-title {
  position: -webkit-sticky;
  position: sticky;
}

.nav-title a {
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: #1db6b6;
  font-weight: bold;
  margin-left: 1rem;
}

.hotel img {
  width: 100%;
  height: 450px;
  border-radius: 1rem;
}

.hotel-details {
  padding-top: 1rem;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-details .title h2 {
  font-weight: bold;
  color: #1db6b6;
}

.hotel-details .title p {
  padding-top: 0.5rem;
  color: grey;
}

.hotel-details .ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0.5rem;
}

.hotel-details .ratings i {
  color: #1db6b6;
  font-size: 1.1rem;
}

.hotel-details .ratings p {
  padding-left: 0.4rem;
}

.hotel-details .ratings .rating {
  font-weight: bold;
  font-size: 1.1rem;
}

.hotel-details .ratings .count {
  color: grey;
}

.location {
  padding-top: 1rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
  color: #444;
}

.timing {
  padding-top: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timing p:nth-child(1) {
  background-color: #1db6b6;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
}

.timing p:nth-child(2) {
  padding-left: 0.5rem;
  font-weight: bold;
}

.active {
  color: #1db6b6;
}

.tabs {
  padding-top: 2rem;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs h3 {
  cursor: pointer;
}

.tabs h3:last-child {
  padding-left: 2rem;
}

.line {
  height: 1px;
  margin-left: 0.5rem;
  margin-top: 0.4rem;
  background-color: #1db6b633;
  width: 100%;
}

.hotel-cusions {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.hotel-cusions .title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #444;
}

.hotel-cusions .tag {
  display: inline-block;
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid rgba(68, 68, 68, 0.2);
  color: #1db6b6;
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
}

.hotel-cusions .tag:not(:nth-child(2)) {
  margin-left: 0.5rem;
}

.avg-cost,
.address,
.phone-number {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

.avg-cost .title,
.address .title,
.phone-number .title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #444;
}

.avg-cost p,
.address p,
.phone-number p {
  padding-top: 0.7rem;
  font-weight: bold;
  color: grey;
}

@media (max-width: 500px) {
  body {
    background: #fff;
  }
  .hotel img {
    width: 100%;
    height: 250px;
    padding: 1rem 1rem;
    border-radius: 1rem;
  }
  .hotel-details {
    padding-left: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hotel-details .ratings {
    display: none;
  }
  .location {
    padding-left: 1rem;
  }
  .timing {
    padding-top: 1.3rem;
    padding-left: 0.5rem;
  }
  .menu {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
  .menu img {
    height: 100px;
    width: 100px;
    border-radius: 0.6rem;
  }
  .menu-title {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=hotel.css.map */