@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$primary-color: #1db6b6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  position: relative;
}

.current {
  color: $primary-color;
}

.container {
  max-width: 960px;
  margin: 1rem auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.landing {
  position: absolute;
  right: 0;
  top: 5rem;
  height: 85vh;
  width: 70vw;
  background-image: url("../images/landing-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 1rem;
  z-index: -1;
}

.color {
  position: absolute;
  right: 0;
  height: 80vh;
  width: 70vw;
  z-index: -2;
  border-top-left-radius: 1rem;
  background-color: #e7f7f7;
}

.text {
  position: absolute;
  left: 5rem;
  top: 20vh;
  z-index: 1;

  .title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 6.5rem;
    color: $primary-color;
  }

  .subtitle {
    padding-top: 1.5rem;
    p {
      font-size: 1.5rem;
      color: grey;
      font-weight: bold;
    }
  }
  button {
    cursor: pointer;
    border: 0;
    padding: 0.7rem 1rem;
    color: $primary-color;
    background: #fff;
    font-size: 1.2rem;
    border: 1px solid $primary-color;

    margin-top: 2rem;
    border-radius: 2rem;
    transition: all 0.3s;
  }

  button:hover {
    background: $primary-color;

    color: #fff;
    transform: scale(1.1);
  }
}

// --------- Navbar ------------

.navbar {
  position: absolute;
  top: 1rem;
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .nav-title a {
    padding-left: 1rem;
    font-size: 2rem;
    color: $primary-color;
    font-weight: bold;
    margin-left: 1rem;
  }

  .links {
    display: flex;
    width: 55vw;
    justify-content: space-around;
    font-size: 1.1rem;
    font-weight: bold;

    a {
      color: black;
    }

    .current {
      color: $primary-color;
    }
  }
}

// --------- Fotter ------------

.footer {
  position: absolute;
  top: 90vh;
  width: 100%;
  height: 60px;
  color: grey;
  left: 0;

  .logos {
    display: flex;
    position: absolute;
    left: 3rem;
    padding-top: 1rem;
    i {
      cursor: pointer;
      padding-left: 2rem;
    }
  }
}

.profile {
  cursor: pointer;
}

.profile-options {
  display: none;
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  width: 150px;
  border: 1px solid #1db6b67e;
  background-color: #fff;
  border-radius: 4px;

  a,
  a:visited,
  a:hover {
    color: $primary-color;
  }

  li {
    cursor: pointer;
    text-align: center;
    color: $primary-color;
    font-weight: bold;
    padding: 0.8rem 0.5rem;
  }

  li:not(:last-child) {
    border-bottom: 1px solid #1db6b62d;
  }
}
