.navbar {
  position: sticky;
  background-color: #fff;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

$primary-color: #1db6b6;

.hotels {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1.5rem;

  .hotel-card {
    cursor: pointer;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
    border: 1px solid #1db6b65b;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;

    img {
      width: 250px;
      height: 200px;
      border-radius: 0.5rem;
      background-size: cover;
    }

    .hotel-details {
      display: flex;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        justify-content: space-between;

        .name {
          font-weight: bold;
          font-size: 1.2rem;
        }

        .rating {
          display: flex;
          p {
            padding-left: 5px;
          }
          i {
            color: $primary-color;
          }
        }
      }

      .cusions {
        padding-top: 0.7rem;
        font-size: 0.95rem;
        display: flex;

        i {
          color: $primary-color;
          font-size: 0.8rem;
        }
        p {
          padding-left: 5px;
          font-size: 0.8rem;
          color: grey;
        }
      }

      .cusions-text {
        padding-top: 0.6rem;
        font-size: 0.8rem;
      }

      .address {
        padding-top: 0.7rem;
        font-size: 0.8rem;
        color: grey;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
