$primary-color: #1db6b6;

.profile {
  cursor: pointer;
}

.profile-options {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 2rem;
  width: 150px;
  border: 1px solid #1db6b67e;
  background-color: #fff;
  border-radius: 4px;

  a,
  a:visited,
  a:hover {
    color: $primary-color;
  }

  li {
    cursor: pointer;
    text-align: center;
    color: $primary-color;
    font-weight: bold;
    padding: 0.8rem 0.5rem;
  }

  li:not(:last-child) {
    border-bottom: 1px solid #1db6b62d;
  }
}

.order-wrapper {
  padding-top: 5rem;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2rem;

  .details {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .menu-details {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .image-container {
    img {
      height: 130px;
      width: 130px;
      border-radius: 4px;
    }
  }

  .quantity,
  .price {
    width: 23%;
  }
}

.line {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  height: 0.2px;
  width: 100%;
  background-color: #1db6b644;
}
