$primary-color: #1db6b6;

.container {
  max-width: 800px;
  margin: 0 auto;
}

.navbar {
  position: sticky;
  background-color: #fff;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wrapper {
  display: flex;
  align-items: center;

  #country {
    border: 1px solid $primary-color;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 1rem 0.8rem;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 150px;
    text-overflow: "";
    text-align: center;
    text-indent: 0.85rem;
  }

  form {
    margin-left: 2rem;
    input {
      background: none;
      background-color: white;
      font-size: 1.2rem;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 650px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $primary-color;
      margin: 25px 0;

      &:focus {
        outline: none;
      }
    }
  }
}

.hotel-search {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .hotel-card {
    margin-top: 1rem;
    padding: 1rem 0.7rem;
    border: 1px solid #1db6b65b;
    position: relative;
    display: flex;
    border-radius: 1rem;

    img {
      height: 170px;
      width: 180px;
      border-radius: 1rem;
    }

    .details {
      padding-left: 1rem;

      .name {
        cursor: pointer;
        padding-top: 0.2rem;
        font-size: 1.6rem;
        font-weight: bold;
        color: $primary-color;
      }

      .locality {
        padding-top: 0.5rem;
        font-size: 0.95rem;
        color: grey;
      }

      .address {
        padding-top: 0.5rem;
        font-size: 0.9rem;
        color: #444;
      }

      .cusions {
        margin-top: 0.9rem;
      }

      .cusions,
      .cost {
        padding-top: 0.7rem;
        display: flex;

        p:first-child {
          font-weight: bold;
        }

        p:nth-child(2) {
          padding-left: 0.5rem;
        }
      }
    }

    .ratings {
      display: flex;
      flex-direction: column;
      justify-content: end;

      p:first-child {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 50px;
        background-color: $primary-color;
        color: #fff;
        text-align: center;
        font-size: 1.05rem;
        padding: 0.4rem 0.3rem;
        border-radius: 0.5rem;
      }

      p:nth-child(2) {
        position: absolute;
        top: 3rem;
        right: 1rem;
        padding-top: 0.5rem;
        font-size: 0.9rem;
        color: grey;
      }
    }
  }
}

// Tablets and Smaller
@media (max-width: 800px) {
}

// Smartphones
@media (max-width: 500px) {
  body {
    background-color: #fff;
  }

  .wrapper {
    #country {
      margin-left: 0.6rem;
    }

    form {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      input {
        width: 100%;
      }
    }
  }

  .hotel-search {
    .hotel-card {
      margin-top: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;
      display: flex;
      position: relative;
      flex-direction: column;

      img {
        height: 240px;
        width: 300px;
        margin: 0 auto;
      }

      .details {
        padding-left: 1rem;

        .name {
          padding-top: 0.5rem;
        }
      }

      .ratings {
        display: none;
      }
    }
  }
}
